[hidden],
[v-cloak] {
    display:none;
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i { font-style: normal }

html, body {
    height: 100%;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: #eee;
    font-size: 16px;
}

body {
    font-size: 1rem;
    background-color: #262626;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 2rem;
}

small,
.small {
    font-size: 0.75rem;
}

.large {
    font-size: 2rem;
}

strong,
.strong {
    font-weight: 700;
}

h1,
h2,
h3,
p,
ul,
ol,
hr,
table {
    margin-bottom: 10px;
}

h1 {
    font-weight: 700;
}

.flat {
    margin-bottom: 0 !important;
}

a {
    color: var(--primary);
}
a.unstyled {
    color: black;
    text-decoration: none;
}

.disabled > * {
    opacity: 0.25;
    user-select: none;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    text-align: center;
}
.logo {
    max-width: 280px;
}

.logo__back {
    margin-right: 1rem;
    font-size: 1rem !important;
}

.logo__icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #348A36;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.logo__icon img {
    width: 1.5rem;
}

.island {
    padding: 10px;
}

.text-center {
    text-align: center;
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid var(--border-color);
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

label small {
    color: #666;
    display: block;
}

.input {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 2px;
    outline: 0;
    margin-bottom: 1rem;
    background: rgba(0,0,0,0.4);
    border: 0;
    color: #fff;
}

.btn {
    display: inline-block;
    background: #111;
    color: white;
    height: 2.25rem;
    line-height: 2.25rem;
    outline: 0;
    padding: 0 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn--primary {
    background: pink;
    color: white;
}

.btn--positive {
    background: #348A36;
}

.btn--negative {
    background: #fc001b;
}

.text--positive {
    color: #348A36;
}
.text--negative {
    color: #fc001b;
}

.actions {
    display: flex;
}

.actions .btn {
    flex: 1;
}

.scene {
    display: none;
}
.scene--active {
    display: block;
}
.container {
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
}

.container > div {
    flex: 1;
}

.home {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fade {
    opacity: 0.5;
}

.visible {
    display: flex;
}


.metric__value {

}

.artist__name {
    opacity: 0.6;
}

.line-chart {
    width: 100%;
    height: 100px;
    line-height: 140px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 1em;
}

.metrics-wrap {
    margin: 40px 40px 0;
}
.metrics-actions {
    margin-top: 20px;
    display: flex;
    /* align-items: baseline */
}
.metrics-action-button {
    flex: 1;
}
.metrics-action-button:first-child {
    margin-right: 1em;
}

.metrics {
    /* max-width: 80%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    margin-top: 20px;
}




@keyframes revealHead {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes revealBody {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.scene-header {
    transform: translateY(20px);
    opacity: 0;
    animation: revealHead 375ms ease forwards;
}

.metrics-wrap {
    opacity: 0;
    animation: revealBody 1125ms 375ms ease forwards;
}

.portfolio-row {
    display: flex;
    justify-content: space-evenly;
}
